/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-may-2018, 20:14:22
    Author     : Emmanuel
*/

body{
    background: #ffffff;
}

img {
    border: none;
}

